# Python environment and bytecode
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project-specific data
# We ignore the actual files, but keep the folders
data/inbox/*
data/archive/*
!data/inbox/.gitkeep
!data/archive/.gitkeep

# Logs and Reports
*.log
tdf_audit.log

# Operating System files
.DS_Store
Thumbs.db
